/* Default style reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Start here */

body {
    height: 100vh;
    margin: 0;
    display: flex;    
    flex-direction: column;         
    font-family: Tahoma, Verdana, sans-serif;      
}

html {
    font-size: 16px;
}

@font-face {
    font-family: MarckScript;
    src: url(fonts/MarckScript-Regular.ttf);
  }

@font-face {
    font-family: Mono;
    src: url(fonts/UbuntuMono-Regular.ttf);
}

p {
    margin: 5px;
}

a {
    color: white;
}

#main-container {
    flex-grow: 1;      
    display: flex;          
}

.side-bar {
    flex-grow: 2;
}

.grad-left {
    background: linear-gradient(to left, #010113 10%, #2b3675 100%);    
}

.grad-right {
    background: linear-gradient(to left, #010113 0%, #2b3675 100%);
    
}

#main-img-container {    
    display: flex;
    flex-direction: column;
    position: relative;
    width: 35%;         
}

#main-img {
    flex-grow: 1;
    width: 100%;    
}

#text-ribbon {
    background-color: rgba(0,0,0,0.5);         
    height: 18%;
    width: 100%;
    position: absolute;    
    top: 21%;
    display: flex;    
    justify-content: center;
    align-items: center;      
}

#text-ribbon p {
    color: white;       
    margin-left: 0px;
    font-family: MarckScript;
}

#logo {    
    height: 100%;    
    margin: 0;   
}

#logo-text {
    font-size: 3vw;
    font-weight: 400;
}

ul {
    list-style-type: none;
    color: white;
    margin: 0;
    padding: 0;
}


#cred-left {        
    height: 4%;
    width: 100%;
    position: absolute;
    bottom: 1.5%;
    left: 1%;
    font-size: 0.75vw;
           
}

#cred-left ul {
    color: white;
}


.form-text {
    font-family: mono;
    font-weight: 600;
    font-size: 2.5vw;    
    margin-right: 5%;
    margin-top: 5%;
}

#disclaimer {    
    color: red;
    font-size: 0.5vw;   
    align-self: flex-start;  
}

#signUp-container {
    background: linear-gradient(to right, #424242 0%, white 10%);
    border-right: solid 3px #111844;
    width: 35%;
    display: flex;
    flex-direction: column;   
    padding-left: 5%;
}

#signup {
    margin-top: 8%;        
    font-family: mono;
    overflow: auto;    
}


.field-row {
    display: flex;
    gap: 10%;
    margin-bottom: 6%;
}

.field {
    display: flex;
    flex-direction: column;
    margin-right: 35px;
}

.field label {
    margin-bottom: 0.33rem;
}

#submitBtn {
    justify-self: center;

}

#cred-right {
    flex-grow: 1; 
    display: flex;
    flex-direction: row;     
    height: 4%;
    width: 100%;    
    font-size: 0.75vw;
}

#cred-right ul {
    align-self: flex-end;
    color: black;
    margin-bottom: 1%;
}

#footer {           
    display: flex;
    flex-direction: column;    
    background-color: rgb(6, 2, 63);    
    border: solid 2px rgb(2, 26, 34);
    color: white;
    font-weight: 700;
    font-size: 0.75rem;
    min-height: 2%;   
}

input {
    border: solid 1px black;
    margin: 2px;
}

input:focus {
    outline: none;
    border-color: purple;
    border-width: 3px;
    margin: 0px;
}
