body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: Tahoma, Verdana, sans-serif;   
}

@font-face {
    font-family: MarckScript;
    src: url(fonts/MarckScript-Regular.ttf);
  }

@font-face {
    font-family: Mono;
    src: url(fonts/UbuntuMono-Regular.ttf);
}

p {
    margin: 5px;
}

a {
    color: white;
}

#main-container {
    display: flex;    
}

.side-bar {
    flex-grow: 2;
}

.grad-left {
    background: linear-gradient(to left, #010113 10%, #2b3675 100%);    
}

.grad-right {
    background: linear-gradient(to left, #010113 0%, #2b3675 100%);
    
}

#side-img {
    width: 100%;
    height: 100%;
}

#img-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 35%;      
}


#text-ribbon {
    background-color: black;
    opacity: 70%;      
    height: 150px;
    width: 100%;
    position: absolute;
    top: 200px;
    display: flex;    
    justify-content: center;
    align-items: center;        
}

#rocket {
    height: 100%;
    opacity: 100%;
    margin: 0;   
}

#text-ribbon p {
    color: white;
    opacity: 100%;
    font-size: 48px;
    font-weight: 400;
    margin-left: 0px;
    font-family: MarckScript;
}

#cred-1,
#cred-2,
#cred-3 {
    position: absolute;
    color: white;
    font-size: 12px;
    margin: 0;
    bottom: 8px;
    left: 15px;    
}

#cred-2 {
    bottom: 24px;
}

#cred-3 {
    bottom: 40px;
}


#disclaimer {    
    color: red;
    font-size: 9px;   
    align-self: flex-start;  
}

#form-base {
    background: linear-gradient(to right, #424242 0%, white 10%);
    border-right: solid 3px #111844;
    width: 35%;
    display: flex;
    flex-direction: column;    
    position: relative;
    padding-left: 70px;
}


.form-text {
    font-family: mono;
    font-weight: 600;
    font-size: 2rem;    
    margin-right: 25px;
    margin-top: 25px;
}

#signup {
    margin-top: 90px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    align-items: start;
    max-height: 10px;
    font-family: mono;
    font-size: 1rem;    
}

.field {
    display: flex;
    flex-direction: column;
    margin-right: 35px;
}

.field label {
    margin-bottom: 6px;
}


#cred-4 {
    position: absolute;
    color: black;
    font-size: 12px;
    margin: 0;
    bottom: 8px;
    left: 70px;  
}


#footer {
    display: flex;
    flex-direction: column;    
    background-color: rgb(6, 2, 63);    
    border: solid 1px rgb(2, 26, 34);
    color: white;
    font-weight: 700;
    font-size: 12px;    
    padding-left: 5px;
}

    